.tag {
  padding: 3px 5px;
  border-radius: 3px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.688rem;
  line-height: 130%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--egp-darker-green);

  &:hover {
    color: var(--egp-white);
  }

  &.primary-darker-green,
  &.primary-dark-green {
    color: var(--egp-white);
  }
}

@media screen and (max-width: 992px) {
  .tag {
    font-weight: 600;
    font-size: 8px;
    line-height: 130%;
  }
}