.input {
  input{
    display:none;
  }
  label{
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color:#fff;
    color:#000;
  }
  input:checked + label{
    background: var(--egp-dark-green);
    color:#fff;
  }
}

.inputWhite {
  background-color: var(--egp-white);
}

.inputField {
  background-color: inherit;
  border: none;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--egp-dark);
}

.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--egp-white);
}

.areaTitle {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 16px;
}