.input {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 272px;
  height: 45px;
  background: var(--egp-dark-green);
  border-radius: 8px;
  margin-bottom: 10px;
}

.inputWhite {
  background-color: var(--egp-white);
}

.inputField {
  background-color: inherit;
  border: none;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--egp-dark);
}

.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--egp-white);
}

.areaTitle {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 16px;
}