.input {
  input {
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    padding: 17px 20px 17px 10px;
    background-color: #fff;
    color: #000;
    border: none;
  }

  label {
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    color: #000;
  }

  input[type=radio]+label {
    &::before {
      content: '.';
      display: inline-block;
      background-image: url('../../Icons/radio_disable.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 20px;
      margin-right: 10px;
      color: transparent;
    }
  }

  input[type=radio]:checked+label {
    background: var(--egp-dark-green);
    color: #fff;

    &::before {
      content: '_';
      display: inline-block;
      background-image: url('../../Icons/radio_active.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 20px;
      margin-right: 10px;
      color: transparent;
    }
  }

  input[type=checkbox]+label {
    &::before {
      content: '_';
      display: inline-block;
      background-image: url('../../Icons/checkbox_disable.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 20px;
      margin-right: 10px;
      color: transparent;
    }
  }

  input[type=checkbox]:checked+label {
    background: var(--egp-dark-green);
    color: #fff;

    &::before {
      content: '_';
      display: inline-block;
      background-image: url('../../Icons/checkbox_active.svg');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100%;
      width: 20px;
      margin-right: 10px;
      color: transparent;
    }
  }
}

.hideInput {
  display: none;
}

.inputField {
  background-color: inherit;
  border: none;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--egp-dark);
}

.label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: var(--egp-white);
}

.areaTitle {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  margin-bottom: 16px;
}