.highlighted-positions {
  padding: 8.125rem 0;
  overflow-x: hidden;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--egp-gray);
  }

  h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 3.813rem;
    line-height: 100%;
    color: var(--egp-darker-green);
  }

  .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-dark-gray);
  }

  .slick-slide {
    padding-right: 1.938rem;

    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }

  .info-btn {
    margin-bottom: 20px;
  }

  .mobile-info-btn {
    display: none;
  }
}

@media screen and (min-width: 1492px) {
  .highlighted-positions {
    .col-text {
      position: relative;
      z-index: 10;
      background-color: var(--egp-white);

      &:after {
        position: absolute;
        content: '';
        width: 800px;
        height: 100%;
        background-color: var(--egp-white);
        display: block;
        left: -800px;
        top: 0;
      }
    }

    .col-slide {
      .slick-list {
        overflow: visible;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .highlighted-positions {
    .slick-list {
      padding: 0 !important;
    }

    .slick-slide {
      padding-right: 16px;

      &>div {
        padding: 0 !important;

        >div div {
          padding-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width:992px) {
  .highlighted-positions {
    padding: 38px 0;

    h3 {
      font-weight: 600;
      font-size: 13px;
      line-height: 130%;
      letter-spacing: 0.02em;
      margin-bottom: 20px;
    }

    h2 {
      font-weight: 800;
      font-size: 25px;
      line-height: 100%;
      color: #184B31;
      margin-bottom: 10px;
    }

    .description {
      font-weight: 400;
      font-size: 13px;
      line-height: 130%;
      color: #4D4845;
      margin-bottom: 19px;
    }

    .egp-slider-action {

      &>span,
      input {
        display: none;
      }
    }

    .info-btn {
      display: none;
    }

    .mobile-info-btn {
      display: block;
    }
  }
}