.highlighted-positions {
  padding: 130px 0;
  overflow-x: hidden;

  h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--egp-gray);
  }

  h2 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 3.813rem;
    line-height: 100%;
    color: var(--egp-darker-green);
  }

  .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-dark-gray);
  }

  .slick-slide {
    padding-right: 1.938rem;

    @media screen and (max-width: 991px) {
      padding: 0;
    }
  }
}

@media screen and (min-width: 1492px) {
  .highlighted-positions {
    .col-text {
      position: relative;
      z-index: 10;
      background-color: #fff;
      &:after {
        position: absolute;
        content: '';
        width: 500px;
        height: 100%;
        background-color: #fff;
        display: block;
        left: -500px;
        top: 0;
      }
    }
    .col-slide {
      .slick-list {
        overflow: visible;
      }
    }
  }
}
