.hero-home {

  .mask {
    height: 70px;
    position: relative;
    overflow: hidden;
    margin-top: var(--offset);
    display: inline-block;
    width: 400px;
  }

  .mask span {
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 80px;
    padding-bottom: var(--offset);

    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
  }

  .mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
  }

  .mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
  }

  .mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
  }

  .mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
  }

  .mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
  }

  .mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
  }

  width: 100%;
  height: 900px;
  padding-bottom: 90px;
  background-size: 2700px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-top: 50px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90.59deg, rgba(0, 0, 0, 0.6) 35.79%, rgba(0, 0, 0, 0) 98.06%);
  }

  >.container>.row {
    position: relative;
    z-index: 10;

    &:first-child {
      @media screen and (max-width: 1270px) {
        padding-top: 150px;
      }
    }
  }

  .title {
    font-family: "Colby";
    font-style: normal;
    font-weight: 700;
    font-size: 4.25rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--egp-darker-green);
    margin: 0;
    margin-bottom: 1.938rem;

    span {
      font-family: "Colby";
    }

    strong {
      font-family: "Colby";
      color: var(--egp-pink);
    }
  }

  .text-content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 130%;
    color: var(--egp-darker-green);
    margin-bottom: 1.938rem;
  }

  &.text-white {

    .title,
    .text-content {
      color: var(--egp-white);
    }
  }

  form {
    position: relative;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    label {
      display: none;
    }

    input[type="submit"] {
      padding: 13px 20px;
      background-color: var(--egp-green);
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      border: 2px solid #fff;
      transition: all .3s;
      font-size: 20px;

      &:hover {
        background-color: var(--egp-darker-green);
      }
    }

    .legal-consent-container {
      order: 10;
      width: 100%;
    }

    .input {
      .inputs-list {
        margin: 0;
        padding: 0;
        margin-top: 10px;

        .hs-form-booleancheckbox label {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 20px;

          color: var(--egp-white, #FFF);
          font-family: "Roboto";
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;

          span {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    .hs_error_rollup {
      color: red;
      width: 100%;
      position: absolute;
      bottom: -30px;
      left: 0;

      ul {
        padding-left: 0;
      }

      * {
        display: block !important;
      }
    }

    .hs-error-msgs {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-top: 5px;

      label {
        display: block;
        font-style: italic;
        color: var(--egp-white, #FFF);
        font-family: "Roboto";
        font-size: 13px;
        font-weight: 400;
        line-height: 130%;
        padding-top: 5px;
      }
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;

      fieldset {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        width: 100%;
      }

      .hs-form-field {
        width: 100% !important;
      }

      input {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  +.narrative {
    padding-top: 0;
  }

  .box-form {
    min-height: 100px
  }
}

@media screen and (max-width:992px) {
  .hero-home {
    height: fit-content;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 3rem;

    .title {
      font-size: 40px;
    }

    .text-content {
      font-size: 20px;
    }

    .input {
      .inputs-list {
        .hs-form-booleancheckbox label {
          input {
            float: none;
            width: auto;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1270px) and (min-width: 992px) {
  .hero-home {
    height: fit-content;

    .title {
      font-size: 45px;
    }

    .text-content {
      font-size: 22px;
    }
  }
}