.image-wrapper {
  &>div {
    width: 100%;
  }

  .caption {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0 40px 0;

    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 130%;
      color: var(--egp-gray);
    }
  }
}