.hero-home {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 90px;
  margin-top:-100px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
  > .row{
    padding-top:150px;
  }
  
  .title {
    font-family: "Colby";
    font-style: normal;
    font-weight: 700;
    font-size: 4.25rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--egp-darker-green);
    margin-bottom: 1.938rem;

    strong {
      color: var(--egp-pink);
    }
  }

  .text-content {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.563rem;
    line-height: 130%;
    color: var(--egp-darker-green);
    margin-bottom: 1.938rem;
  }
  &.text-white{
    * {
      color:#fff;
    }
  }
}
