.information-card {
  h6 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 1.938rem;
    line-height: 110%;
    color: var(--egp-dark-green);
    margin-bottom: 0.625rem;
  }

  .pre-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-gray);
    margin-bottom: 1rem;

    strong {
      color: var(--egp-dark);
    }
  }

  .description {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 130%;
    color: var(--egp-gray);
    margin-bottom: 1.406rem;
  }
}