.information-card {
  h6 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 1.938rem;
    line-height: 110%;
    color: inherit;
    margin-bottom: 0.625rem;
  }

  .header-information {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1rem;
  }

  .pre-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-gray);

    strong {
      color: var(--egp-dark);
    }
  }

  .description {
    * {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      color: var(--egp-gray);
      padding: 0;
      margin: 0;
      margin-bottom: .3rem;
    }

    br {
      display: none;
    }

    margin-bottom: 1.406rem;
  }

  .active {
    color: var(--egp-dark-green);
  }

  .disable {
    color: var(--egp-darker-green);
  }
}

@media screen and (max-width: 992px) {
  .information-card {
    margin-bottom: 1rem;

    h6 {
      font-size: 24px;
      margin: 0;
    }

    .header-information {
      gap: 10px;
      margin-bottom: .5rem;
    }

    .pre-title {
      font-size: 16px;
    }

    .description {
      font-size: 16px;
      margin: 0;
    }
  }
}