.preview-cta-block {
  min-height: 400px;
  padding: 190px 0 50px 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  text-align: center;

  h1 {
    color: var(--egp-darker-green, #184B31);
    font-family: "Colby";
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 39px;
  }

  p {
    color: var(--egp-black, #333);
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-bottom:10px;
    margin-bottom:0;
    a{
      color: #36845B;
      font-weight:400
    }
  }
  
}

.acordions-login{
  margin-bottom:50px;
  .item-acord{
    border-bottom:1px solid #CCCCD0;
    .title-acord-item{
      cursor:pointer;
      font-size:28px;
      font-weight: 700;
      position:relative;
      padding:20px 10px 20px 80px;
      color:#36845B;
      &:before{
        position:absolute;
        content:"";
        background-image: url('../../Icons/cross-acordion.svg');
        background-repeat: no-repeat;
        background-position: left 10px center;
        left:10px;
        top:17px;
        width:45px;
        height:45px;
      }
    }
    .content{
      display:none;
      padding:20px 50px 30px 80px;
      a{
        display:inline-block;
        margin-bottom:15px;
      }
    }
    &.open{
      background-color:#DDF0DF;
      border-bottom: 2px solid #57B45F;
      .title-acord-item{
        color:#184B31;
        &:before{
          transform: rotate(45deg);
        }
      }
      .content{
        display:block;
        .image-wrapper{
          max-width:400px;
        }
      }
    }
    &:hover{
      background-color:#DDF0DF;
    }
  }
}

@media screen and (max-width: 992px) {
  
  .preview-cta-block {
    padding: 100px 0 20px 0;
    background-image: none;
    min-height:250px;

    h1 {
      font-size: 25px;
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
    } 
  }
}

@media screen and (max-width:768px){
  .preview-cta-block {
    p{
      font-size:18px;
    }
  }
  .acordions-login{
    .item-acord{
      .title-acord-item{
        font-size:20px;
        padding-left:50px;
        &:before{
          width:25px;
          height:25px;
          background-size:25px 25px;
          background-position: center center;
          left:5px;
          top:23px
        }
      }
      .content{
        padding:15px 0 30px 15px;
        
      }
      &:hover{
        background-color:#fff;
      }
      &.open{
        background-color:#DDF0DF;
      }
    }
  }
}