.preview-cta-block {
  min-height: 700px;
  padding: 190px 0;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;

  h1 {
    color: var(--egp-darker-green, #184B31);
    font-family: "Colby";
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 39px;
  }

  p {
    color: var(--egp-black, #333);
    font-family: "Roboto";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }

  .ctas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    .input-cta {
      width: 100%;

      * {
        color: var(--egp-dark-green, #36845B);
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        margin: 0;
        padding: 0;
      }

      label {
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 25px;
        width: 100%;
        border-radius: 8px;
        border: 3px solid var(--egp-dark-green, #36845B);
        background: var(--x-light-green, #DDF1E0);

        * {
          font-size: 25px;
        }
      }

      input {
        display: none;
      }

      input[type=radio]+label {
        &::before {
          content: '.';
          display: inline-block;
          background-image: url('../../Icons/radio_disable.svg');
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
          width: 20px;
          margin-right: 10px;
          color: transparent;
        }
      }

      input[type=radio]:checked+label {
        background: var(--egp-green, #57B45F);
        color: #fff;

        * {
          color: #fff;
        }

        &::before {
          content: '_';
          display: inline-block;
          background-image: url('../../Icons/radio_active.svg');
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
          width: 20px;
          margin-right: 10px;
          color: transparent;
        }
      }
    }
  }

  &.section-light-pink {
    h1 {
      color: var(--egp-pink, #FF70BD);
      font-family: "Colby";
      font-size: 69px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    p {
      color: var(--egp-black, #333);
      font-family: "Roboto";
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }

  a {
    color: var(--egp-green);
  }

  .btn-submit-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 16px;
  }
}

@media screen and (max-width: 992px) {
  .preview-cta-block {
    padding: 100px 0;
    background-image: none;

    h1 {
      font-size: 25px;
      margin-bottom: 16px;
    }

    p {
      font-size: 20px;
      margin-bottom: 16px;
    }

    .ctas {
      gap: 10px;

      .input-cta label {
        padding: 4px 20px;

        * {
          font-size: 18px;
        }
      }
    }

    &.section-light-pink {
      h1 {
        font-size: 25px;
        margin-bottom: 16px;
      }

      p {
        font-size: 20px;
        margin-bottom: 16px;
      }
    }
  }
}