.sidebar-nav {
  .sidebar-item {
    margin-bottom: 26px;

    a {
      font-family: 'Jaldi';
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 110%;
      color: var(--egp-dark);
    }

    &.active a {
      color: var(--egp-dark-green);
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}