.campaign-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 15px;
  background-color: #d9d9d9;
  background-repeat: no-repeat;
  background-size: cover;

  h3 {
    font-family: "Colby";
    font-style: normal;
    font-weight: 700;
    font-size: 1.938rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--egp-dark-green);
    margin-bottom: 10px;
  }

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-dark-gray);
  }

  &.section-pink {

    h3,
    p {
      color: var(--egp-white);
    }
  }

  .banner-image {
    img {
      width: 100%;
    }
  }

  .egp-btn.light {
    background-color: var(--egp-white);

    &:hover {
      color: var(--egp-white);
      background-color: var(--egp-green);
    }
  }

  &.bg-yellow {
    background-color: var(--egp-yellow);
  }

  &.bg-white {
    background-color: var(--egp-white) !important;
  }

  &.bg-green {
    background-color: var(--egp-green);

    h3,
    p {
      color: var(--egp-white);
    }
  }

  &.bg-dark-green {
    background-color: var(--egp-dark-green);

    h3,
    p {
      color: var(--egp-white);
    }
  }
}

@media screen and (max-width:992px) {
  .campaign-card {
    margin-bottom: 20px;

    h3 {
      font-family: 'Colby';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 110%;
    }

    p {
      display: none;
    }
  }
}