.simpleText {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--egp-dark);

  a {
    color: var(--egp-green) !important;
  }

  ul,
  li {
    list-style: initial;
  }
}