.top-message-container {
  min-height: 32px;
  padding: 9px 102px;
  text-align: center;
  color: var(--egp-dark);
  background-color: #f9dd87;

  @media (max-width: 600px) {
    padding: 5px;
  }

  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    color: var(--egp-dark);
    margin: 0;
    padding: 0;
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      padding-left: 4px;
    }
  }

  .close-btn {
    cursor: pointer;
  }
}
