.componentnarrativeblock {
  padding-top: 100px;
  padding-bottom: 70px;

  .logo {
    margin-bottom: 35px;
  }

  ul {
    list-style: disc;

    li {
      margin-bottom: 1rem;
    }
  }

  h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: var(--egp-gray);
    margin-bottom: 1.563rem;
  }

  h2 {
    font-family: "Jaldi";
    font-style: normal;
    font-weight: 800;
    font-size: 3.813rem;
    line-height: 100%;
    color: var(--egp-darker-green);
    margin-bottom: 1.563rem;
  }

  .textcontent {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 150%;
    color: var(--egp-dark-gray);
    margin-bottom: 1.563rem;
  }

  .centercontent {
    text-align: center;

    & > p {
      max-width: 60%;
      margin: auto;

      @media screen and (max-width: 1199px) {
        max-width: 80%;
      }

      @media screen and (max-width: 991px) {
        max-width: 100%;
      }
    }

    p {
      color: var(--ct-dark-gray);
    }

    .ctas {
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }

  + .componentnarrativeblock {
    padding-top: 0;
  }
}
