.heroCustom {
  // background-color: pink;
  padding-top: 150px;
  padding-bottom: 30px;
  height: 470px;

  h1,
  h2 {
    font-family: 'Colby';
    font-style: normal;
    font-weight: 700;
    font-size: 69px;
    line-height: 100%;
    color: var(--egp-darker-green);

    &.sm {
      font-family: 'Jaldi';
      font-weight: 800;
      font-size: 61px;
    }
  }

  .heroImage {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 470px;

    &>div {
      height: 470px;
    }

    img {
      height: 470px;
      object-fit: contain;
    }
  }
}