.heroCustom {
  padding-top: 150px;
  padding-bottom: 150px;
  min-height: 470px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1,
  h2 {
    font-family: 'Colby';
    font-style: normal;
    font-weight: 700;
    font-size: 69px;
    line-height: 100%;
    color: var(--egp-white);
    margin-bottom: 39px;

    &.sm {
      font-family: 'Jaldi';
      font-weight: 800;
      font-size: 61px;
    }
  }

  .description {

    p,
    span {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 25px;
      line-height: 130%;
      color: var(--egp-white);
    }
  }

  .ctasBox {
    width: 100%;
    padding: 20px 31px;
    background-color: #fff;
    border-radius: 10px;

    h5 {
      color: var(--egp-pink, #FF70BD);
      font-family: "Colby";
      font-size: 31px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      margin-bottom: 30px;
    }

    h6 {
      cursor: pointer;
      color: var(--egp-dark-green, #36845B);
      font-family: "Colby";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      gap: 15px;

      &.hOpen {
        img {
          transform: rotate(-180deg);
        }
      }
    }
  }

  .ctaText {
    color: var(--egp-black, #333);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    gap: 30px;

    input[type=radio]:checked+label {
      background: none;
      color: inherit;
    }
  }

  .ctaGrid {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    & div {
      width: 100%;
      flex-basis: calc(25% - 20px);

      a {
        width: 100%;
      }
    }
  }

  .extraCtas {
    position: relative;
    overflow: hidden;
    height: 53px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      height: 80%;
      width: 100%;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 26.04%);
    }

    &.open {
      height: auto;
      overflow: auto;

      &::after {
        display: none;
      }
    }
  }
}

.noDescription {
  display: inline-block !important;
  float: right !important;
  clear: both;

  a {
    margin-right: 0 !important;

  }
}

@media screen and (max-width: 992px) {
  .heroCustom {
    min-height: auto;
    padding: 0;
    padding-top: 100px;
    padding-bottom: 50px;

    h1,
    h2 {
      font-size: 50px;
    }

    .ctasBox {
      padding: 15px;

      h5 {
        font-size: 25px;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 18px;
      }
    }

    .ctaGrid {
      margin-bottom: 30px;
      gap: 10px;

      & div {
        flex-basis: calc(25% - 10px);
      }
    }
  }
}

@media screen and (max-width:768px) {
  .heroCustom {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 20px;

    h1,
    h2 {
      font-size: 25px;
    }

    .ctasBox {
      padding: 15px;

      h5 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      h6 {
        font-size: 16px;
      }
    }

    .ctaGrid {
      flex-wrap: wrap;

      & div {
        flex-basis: calc(33% - 10px);
      }
    }
  }

  .noDescription {
    float: left !important;
  }
}