// ! Order Matters
// Bootstrap always bellow reset

//BASICS
@import "foundation/reset";
@import "helpers/bootstrap";
@import "foundation/typography";
@import "foundation/colors";

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Global
.withOverlap {
  +div {
    position: relative;
    z-index: 2;
    padding-top: 0;

    .image-wrapper {
      margin-top: -50px;
    }
  }
}

@media screen and (max-width:992px) {
  .withOverlap {
    +div {
      position: static;
      padding-top: 30px;

      .image-wrapper {
        margin-top: 0px;
      }
    }
  }
}

.link-and-list-styles {
  a {
    color: var(--egp-green) !important;
  }

  ul,
  ol,
  li {
    list-style: initial;
  }
}