.filterTitle {
  margin-bottom: 70px;

  h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: #333333;
    margin-bottom: 16px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #838386;

    span {
      display: inline-flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px 5px;
      background: rgba(87, 180, 95, 0.2);
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: #36845B;
    }
  }
}

.betweenDatesField {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;

  input {
    width: 140px;
  }
}

.btnContainer {
  display: flex;
  gap: 23px;
  align-items: center;

  button {
    flex: 1;
  }
}

@media screen and (max-width:992px){
  .filtersResolutions{
    max-height: 350px;
    overflow: scroll;
    input, select{
      border:1px solid #000!important;
    }
    h3{
      cursor:pointer;
    }
  }
}