.card-position {
  height: 636px;
  border-radius: 10px;
  display: flex;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  @media screen and (max-width: 991px) {
    width: 100%;
  }

  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;

    h3 {
      font-family: 'Colby';
      font-style: normal;
      font-weight: 700;
      font-size: 3.125rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--egp-darker-green);
      margin-bottom: 1.563rem;

      &.white {
        color: var(--egp-white);
      }
    }
  }

  &.small {
    .text-content {
      padding: 40px;

      h3 {
        font-family: 'Colby';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 110%;
      }
    }
  }
}