.card-position {
  height: 636px;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  background-image: url('../../Icons/flower.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  position: relative;
  overflow: hidden;

  .text-content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;

    h3 {
      font-family: 'Colby';
      font-style: normal;
      font-weight: 700;
      font-size: 3.125rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--egp-darker-green);
      margin-bottom: 1.563rem;

      &.white {
        color: var(--egp-white);
      }
    }
  }

  @media screen and (max-width: 992px) {
    width: 100%;
    height: 300px;
    background-size: 90%;
    background-position: 100% 100%;

    .text-content {
      padding: 20px;

      h3 {
        font-size: 20px !important;
        line-height: 110% !important;
      }
    }

    .image-position {
      height: 80%;

      img {
        object-fit: contain !important;
      }
    }

    .ctas {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    padding: 0 !important;

    .text-content {
      padding: 10px !important;
    }

    .image-position {
      padding: 10px !important;

      img {
        object-fit: unset !important;
        width: auto;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .image-position {
      height: 60%;
    }
  }

  @media screen and (max-width: 991px) and (min-width: 768px) {
    background-position: 100%;
    min-height: 400px;
  }

  &.small {
    .text-content {
      padding: 40px;

      h3 {
        font-family: 'Colby';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 110%;
      }
    }
  }

  &.color-yellow {
    background-color: var(--egp-yellow);
  }

  &.color-green {
    background-color: var(--egp-green);
  }

  &.color-light-green {
    background-color: #DDF0DF;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .3s;
  }

  &:hover {
    &::before {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}