.card-position {
  height: 636px;
  border-radius: 10px;
  display: flex;
  background-repeat:no-repeat;
  background-position: center bottom;
  @media screen and (max-width: 991px) {
    width: 100%;
  }

  .image-position{
    flex:100%;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;

    h3 {
      font-family: 'Colby';
      font-style: normal;
      font-weight: 700;
      font-size: 3.125rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--egp-darker-green);
      margin-bottom: 1.563rem;

      &.white {
        color: var(--egp-white);
      }
    }
  }

  &.small {
    .text-content {
      padding: 40px;

      h3 {
        font-family: 'Colby';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 110%;
      }
    }
  }
  &.color-yellow{
    background-color:var(--egp-yellow);
  }
  &.color-green{
    background-color:var(--egp-green);
  }
  &.color-page_green{
    background-color:var(--egp-green);
  }
  &:hover{
    
  }
}