.logosblock {
  padding: 4.938rem 0 6.063rem 0;
  text-align: center;

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 2.438rem;
    line-height: 120%;
    color: var(--egp-dark);
    margin-bottom: 2.5rem;
  }

  .intro {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    color: var(--egp-dark);
    opacity: 0.7;
    max-width: 76%;
    margin: 0 auto;
    margin-bottom: 70px;

    @media screen and (max-width: 991px) {
      max-width: 100%;
    }
  }

  .logoslist {
    margin-bottom: 50px;

    a {
      display: flex;
      justify-content: center;
    }

    img {
      object-fit: contain !important;
    }
  }

  .logos-ctas {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width:992px) {}
}

@media screen and (max-width: 992px) {
  .logosblock {
    padding: 30px 0;

    .logoslist {
      margin: 0;

      &>div {
        margin: 0;
      }
    }
  }
}