.inner-navigation {
  margin-top: 1px;
  background-color: hsla(125, 38%, 52%, 0.3);

  .items {
    display: flex;
    flex: 100%;
    align-items: center;
    gap: 69px;

    .item {
      padding-bottom: 1px;

      .link-item {
        font-family: 'Jaldi';
        font-style: normal;
        font-weight: 800;
        font-size: 25px;
        line-height: 110%;
        text-transform: uppercase;
        color: var(--egp-green);
      }

      &.active {
        color: var(--egp-dark);
        border-bottom: 4px solid var(--egp-dark);
      }
    }

    @media screen and (max-width: 992px) {
      flex-wrap: wrap;
      gap: 20px;

      .item .link-item {
        font-size: 20px;
      }
    }
  }

  .mobile-icon {
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .inner-navigation {
    .items {
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        &.active {
          border: none;
        }
        .link-item {
          font-size: 18px;

          
        }
      }

      .item:not(:first-child) {
        display: none;
      }

      &.open>.item:not(:first-child) {
        display: block;
      }
    }

    .mobile-icon {
      display: block;
    }
  }
}