.filter-events {
  padding: 42px 0 285px 0;

  .filter-action-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: var(--egp-dark);
    margin-bottom: 20px;
  }

  .category-items {
    display: flex;
    align-items: center;
    gap: 25px;

    >div {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    input {
      display: none;
    }

    input:checked~.checkmark {
      background-size: contain;
      background-image: url('../../Icons/checkbox.svg');

    }

    label {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #000000;
      padding-left: 10px;
    }

    .checkmark {
      position: absolute;
      top: 7px;
      left: 9px;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 4px;
    }
  }

  .current-filters {
    padding: 59px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--egp-gray);

    span {
      padding: 0px 5px;
      background: rgba(87, 180, 95, 0.2);
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: var(--egp-dark-green);
    }
  }

  .mobile-form {
    display: none;
  }

  .item-name {
    display: flex;
    align-items: center;
    gap: 10px;

    .ball-tag {
      display: block;
      width: 15px;
      height: 15px;
      background-color: black;
      border-radius: 50%;

      &.yellow {
        background-color: #FFEC8F;
      }

      &.blue {
        background-color: #CBE4EE;
      }

      &.grey {
        background-color: #DDF0DF;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .filter-events {
    .desktop-form {
      display: none;
    }

    .current-filters {
      font-size: 13px;
      line-height: 130%;
      margin-bottom: 27px;
    }
  }
}

@media screen and (max-width: 992px) {
  .filter-events {
    .desktop-form {
      display: none;
    }

    .current-filters {
      padding: 0;
    }

    .mobile-form {
      display: block;
      margin-bottom: 50px;

      .item {
        cursor: pointer;
        border-bottom: 1px solid #EFEFEF;
        margin-bottom: 10px;

        .category-items {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          margin-bottom: 10px;

          label {
            font-weight: 400;
            font-size: 13px;
            line-height: 150%;
          }
        }
      }
    }

    .filter-action-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}