.filter-events {
  padding: 42px 0 285px 0;

  .filter-action-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    color: var(--egp-dark);
    margin-bottom: 20px;
  }


  .category-items {
    display: flex;
    align-items: center;
    gap: 25px;

    label {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: #000000;
      padding-left: 10px;
    }
  }

  .current-filters {
    padding: 59px 0 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--egp-gray);

    span {
      padding: 0px 5px;
      background: rgba(87, 180, 95, 0.2);
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 130%;
      color: var(--egp-dark-green);
    }
  }
}