.egp-section {
  padding: 82px 0 71px 0;

  .title {
    display: flex;
    // flex-direction: column;
    // gap: 24px;
    justify-content: space-between;
    margin-bottom: 60px;

    h2 {
      font-family: "Jaldi";
      font-style: normal;
      font-weight: 800;
      font-size: 1.938rem;
      line-height: 110%;
      text-transform: uppercase;
      color: var(--egp-darker-green);
    }

    .introduction {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: var(--egp-dark);
      max-width: 1250px;
    }
  }

  .egp-btn {
    &::after {
      content: '→';
    }
  }

  @media screen and (max-width:992px) {
    padding: 23px 0;

    .title {
      margin-bottom: 21px;

      h2 {
        font-weight: 800;
        font-size: 18px;
        line-height: 110%;
      }
    }

    .section-cta {
      display: none;
    }
  }
}