.card-update {
  .information {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    background: #f2f8f3;
    padding: 20px 28px;

    .title {
      display: block;
      font-family: "Jaldi";
      font-style: normal;
      font-weight: 800;
      font-size: 1.938rem;
      line-height: 110%;
      color: var(--egp-dark-green);
      margin: 0;
    }

    .meta {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        text-transform: uppercase;
        color: var(--egp-dark-gray);
      }
    }

    .tags {
      display: flex;
      gap: 10px;
      margin-bottom: 0.938rem;
    }

    @media screen and (max-width: 768px) {
      min-height: auto;

      .meta {
        padding-bottom: 50px;
      }
    }
  }

  &.podcast {
    .information {
      background-color: #d3ffd7;

      .podcast-tag {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 10px;
        gap: 20px;
        background: var(--egp-green);
        border-radius: 5px;

        font-family: "Roboto";
        font-style: normal;
        font-weight: 600;
        font-size: 0.938rem;
        line-height: 130%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #D3FFD7;
      }
    }
  }

  .image-wrapper {
    &>div {
      border-radius: 0 0 15px 15px;
      height: 310px;
    }
  }
}

@media screen and (max-width: 992px) {
  .card-update {
    .information {
      padding: 15px 30px 15px 15px;
      min-height: auto;

      .title {
        font-size: 20px;
        line-height: 110%;
      }

      .meta span {
        font-size: 10px;
        line-height: 130%;
      }

      &.podcast {
        .information {
          .podcast-tag {
            font-size: 13px;
          }
        }
      }
    }

    .image-wrapper {
      &>div {
        height: auto;
      }
    }
  }
}