// input[name="2-117824001/member_party_name"]{
//   display:none;
// }

.hs-company{
  display:none;
}

.campaing-handbook{
  .hs_error_rollup{
    display:none;
  }
  form{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    > div{
      width:calc(50% - 10px);
    }
  }
  input[type=text],
  input[type=email]{
    border-radius: 8px;
    padding: 17px 20px;
    box-shadow: none;
    background-color: #fff;
    width:100%;
  }
  .legal-consent-container{
    width:100%;
  }
  select{
    border-radius: 8px;
    padding: 17px 20px;
    box-shadow: none;
    background-color: #fff;
  }
  input[type=submit]{
    padding: 13px 20px;
    background-color: var(--egp-green);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #fff;
    transition: all 0.3s;
    font-size: 20px;
  }
}