.post-detail {
  padding: 62px 0;

  .authors-list {
    margin-bottom: 40px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--egp-dark);
  }

  .image-wrapper {

    &>div {
      border-radius: 15px;
    }
  }

  ul,
  ol {
    list-style: initial;
  }

  blockquote {
    float: left;
    max-width: 350px;
    padding: 30px 25px;
    background: rgba(255, 232, 244, 0.5);
    border-radius: 8px;
    margin-right: 30px;

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 130%;
      color: var(--egp-dark);
      margin-bottom: .5em;
    }

    footer {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 125%;
      color: var(--egp-dark);

      &::before {
        content: '- ';
      }
    }

    @media screen and (max-width:767px) {
      width: 100%;
      max-width: 100%;
      float: none;
      margin-left: initial;
    }
  }

  .new-tags {
    margin-top: 85px;
    display: flex;
    gap: 10px;
  }
}