.egpBreadcrumb {
  ul {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    padding: 0;

    li {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500 !important;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.0125em;

      color: var(--egp-green) !important;

      a {
        margin-right: 5px;
        color: var(--egp-green);
        font-weight: 500;
      }

      span {
        margin-right: 5px;
      }

      &:last-child,
      &:last-child a {
        color: var(--egp-dark) !important;
      }
    }
  }
}

.textWhite {
  ul {
    li {

      &:last-child,
      &:last-child a {
        color: var(--egp-white, #FFF) !important;
      }
    }
  }

  .active {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

.withBgPink {
  ul {

    li {
      color: var(--egp-white) !important;

      a {
        color: var(--egp-white) !important;
        font-weight: 500;
      }

      span {
        margin-right: 5px;
      }

      &:last-child,
      &:last-child a {
        color: rgba(255, 255, 255, 0.50) !important;
      }
    }
  }
}

.active {
  color: var(--egp-dark);
}

.unactive {
  pointer-events: none;
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .egpBreadcrumb {
    ul {
      margin-bottom: 7px;

      li {
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.0125em;
      }
    }
  }
}