.location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--egp-gray);
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  gap: 12.5px;
}