.footer {
  position: relative;
  padding: 67px 0 38px 0;

  background: url("../../Icons/footer_logo_corner.svg") no-repeat right bottom,
    url("../../Icons/footer_sunflower.svg") no-repeat right center
      var(--egp-green);

  .partners {
    display: flex;
    align-items: center;
    gap: 2.875rem;
    margin-bottom: 78px;

    h3 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 150%;
      color: var(--egp-white);
    }

    .partners-list {
      display: flex;
      align-items: center;
      gap: 3.125rem;
    }
  }

  .group-links {
    h4 {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: var(--egp-white);
      padding-bottom: 0.625rem;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .links {
      display: flex;
      flex-direction: column;

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        margin-bottom: 1rem;
      }

      a {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        color: var(--egp-white);
      }
    }
  }

  .copyright,
  .support {
    .content {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      color: var(--egp-white);

      .image {
        margin-bottom: 10px;
      }

      p {
        margin: 0;
      }

      @media screen and (max-width: 991px) {
        margin-bottom: 2rem;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    img {
      width: 30px;
      height: 30px;
      filter: brightness(300%);
    }
  }

  .bottom-links {
    display: flex;
    align-items: center;
    gap: 1.938rem;

    a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: var(--egp-white);
    }
  }

  a:hover {
    color: var(--egp-yellow) !important;
  }

  .logo-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  .sunflower {
    height: 100%;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
