.footer {
  position: relative;
  padding: 4.188rem 0 2.375rem 0;

  background: url('../../Icons/footer_logo_corner.svg') no-repeat right bottom,
    url('../../Icons/flowe-footer-bg.png') no-repeat right center var(--egp-green);
  background-size: auto, contain;

  .partners {
    display: flex;
    align-items: center;
    gap: 2.875rem;
    margin-bottom: 4.875rem;

    h3 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 1.25rem;
      line-height: 150%;
      color: var(--egp-white);
    }

    .partners-list {
      display: flex;
      align-items: center;
      gap: 3.125rem;
    }
  }

  .group-links {
    h4 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 130%;
      letter-spacing: 0.02em;
      color: var(--egp-white);
      padding-bottom: 0.625rem;
      margin-bottom: 1.25rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    .links {
      display: flex;
      flex-direction: column;

      ul,
      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      li {
        margin-bottom: 1rem;
      }

      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 130%;
        color: var(--egp-white);
      }
    }
  }

  .copyright,
  .support {
    .content {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      color: var(--egp-white);

      .image {
        margin-bottom: 0.625rem;
      }

      p {
        margin: 0;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.625rem;

    img {
      width: 30px;
      height: 30px;
      filter: brightness(300%);
    }
  }

  .bottom-links {
    display: flex;
    align-items: center;
    gap: 1.938rem;

    a {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 130%;
      color: var(--egp-white);
    }
  }

  a:hover {
    color: var(--egp-yellow) !important;
  }

  // Form
  form {
    .field {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 992px) {
  .footer {
    background: url('../../Icons/footer_logo_corner.svg') no-repeat right bottom, var(--egp-green);
    background-size: auto, contain;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 50px;
    background-size: 30%;

    .partners {
      display: block;
      margin-bottom: 40px;

      h3 {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 20px;
      }

      .partners-list {
        gap: 32px;
        flex-wrap: wrap;

        img {
          width: 40px;
        }
      }
    }

    .group-links {
      h4 {
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        padding-bottom: 5px;
      }

      .links {
        li {
          margin-bottom: 8px;
        }

        a {
          font-weight: 400;
          font-size: 13px;
          line-height: 130%;
        }
      }
    }

    .copyright,
    .support {
      .content {
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        margin-bottom: 20px;

        .image {
          margin-bottom: 0.625rem;
        }

        p {
          margin: 0;
        }
      }
    }

    .bottom-links {
      gap: 20px;

      a {
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
      }
    }
  }
}