.hero-podcast {
  background-color: var(--egp-dark-green);
  padding-top: 150px;
  padding-bottom: 30px;
  background-image: url('../../Icons/podcast-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  padding-bottom: 40px;
  border-bottom: 15px solid #FFEC8F;

  h1,
  h2 {
    color: var(--egp-white, #FFF);
    font-family: "Jaldi";
    font-size: 61px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
  }

  .heroDate {
    color: var(--egp-white, #FFF);
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }

  .date-container {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 10px;
  }

  .podcast-tag {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    gap: 20px;
    background: var(--egp-green);
    border-radius: 5px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D3FFD7;
  }
}

.tito-widget{
  padding:20px;
  background-color: #fff;
  border:2px solid #E1E9E5;
  border-radius:5px;
  .tito-widget-form{
    .tito-release{
      padding-bottom:10px;
      margin-bottom:10px;
      border-bottom:1px solid #E1E9E5;
      display:flex;
      justify-content:space-between;
      align-items: center;
      .tito-release-description{
        max-width:60%;
        margin-right: auto;
       
      }
      label{
        font-weight:500;
        font-size:20px;
        padding-bottom:10px;
      }
      p{
        padding:0;
        margin:0;
      }
      .tito-price, .tito-price-details-donation{
        font-size:20px;
        font-weight: 500;
        margin-right: 10px;;
      }
      .tito-times{
        margin-right:10px;
      }
      .tito-price-details-donation input{
        border-radius:5px;
        border:1px solid #838386;
        padding:5px;
        background-color:#F8F9FB;
        font-size:16px;
        max-width:90px;
      }
      .tito-quantity-input{
        border-radius:5px;
        border:1px solid #838386;
        padding:5px;
        background-color:#F8F9FB;
        margin:0 5px;
        text-align: center;
        font-size:16px;
      }
      .tito-release--increment-quantity{
        svg path{
          fill: #36845B
        }
      }
      .tito-release--decrement-quantity{
        svg path{
          fill: #838386
        }
      }
    }
    .tito-form-actions{
      display:flex;
      justify-content: flex-end;
      gap:20px;
      padding-top:20px;
      input[type=text]{
        border-radius:5px;
        border:1px solid #838386;
        padding:10px;
        background-color:#F8F9FB;
      }
      button{
        background-color: #57B45F;
        color:#fff;
        border:0;
        padding:10px 20px;
        border-radius: 10px;
        text-transform: uppercase;
      
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .tito-widget{
    .tito-widget-form{

      .tito-release{
        padding-bottom:25px;
        margin-bottom:25px;
        flex-wrap: wrap;
        .tito-release-description{
          width:100%;
          max-width:100%;
          padding-bottom:15px;
          label{
            font-size:18px;
            line-height:20px;
          }
        }
        .tito-price-details-regular, .tito-price-details-donation{
          margin-left:auto;
        }
        .tito-price-details-donation{
          input{
            max-width:80px;
          }
        }
        
      }
      .tito-form-actions{
        flex-direction: column;
      }
    }
  }
  .heroPage {

    h1,
    h2 {
      font-weight: 700;
      font-size: 25px;
      line-height: 100%;
    }
  }
}