.twoColumns {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: rgba(87, 180, 95, 0.05);

  h3 {
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 110%;
    color: var(--egp-darker-green);
    margin-bottom: 49px;
  }

  .color-light-green {}
  &.white{
    background-color:#fff;
  }
}