@media screen and (min-width: 751px){
  div#hs-eu-cookie-confirmation {
    bottom: 0px!important;
    top: auto;
    left:0px!important;
    width:100%!important;
    -webkit-transform: translate3d(0, 0, 0)!important;
       -moz-transform: translate(0, 0)!important;
        -ms-transform: translate(0,0)!important;
         -o-transform: translate(0, 0)!important;
            transform: translate3d(0, 0, 0)!important;
    background-color:#DDF1E0!important;
    box-shadow:none!important;

  }
}

div#hs-eu-cookie-confirmation {
  background-color:#DDF1E0!important;
  border-radius:0!important;
}
div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p{
  font-size:20px!important;
  font-family: "Roboto"!important;
  color:#000!important;
}

#hs-eu-header-container{
  display:none!important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner div#hs-eu-cookie-confirmation-buttons-area{
  justify-content: flex-start;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner button#hs-eu-confirmation-button, div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner button#hs-eu-decline-button{
  border-radius:1em;
  text-transform: uppercase!important;
  font-family: 'Roboto'!important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner button#hs-eu-cookie-settings-button{
  background-color:#57B45F!important;
  color:#fff!important;
  text-decoration: none!important;
  text-transform: uppercase;
  min-width: 11em!important;
  height: 3.3em!important;
  border-radius:1em!important;
  font-family: 'Roboto'!important;
  font-weight: normal!important;
}

div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner button#hs-eu-decline-button{
  background-color:#333!important;
  color:#fff!important;
  
}

@media screen and (max-width:751px){
  div#hs-eu-cookie-confirmation div#hs-eu-cookie-confirmation-inner p{
    font-size:14px!important;
    font-family: "Roboto"!important;
    color:#000!important;
  }
}