.egp-map {
  .active {
    cursor: pointer;

    polygon:hover,
    path:hover {
      fill: var(--egp-pink) !important;
    }
  }

  polygon,
  path {
    fill: #AAD2BD;
    stroke: white;
    stroke-width: .6px;
  }
}