.social-follow {
  text-align: center;
  padding: 6.5rem 0;

  h2 {
    font-family: "Colby";
    font-style: normal;
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--egp-darker-green);
    margin-bottom: 2.375rem;
  }

  .links {
    margin: 0 auto;
    max-width: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.125rem;

    a {
      &:not(:last-child) {
        padding-right: 25px;
        border-right: 1px solid rgba(255, 112, 188, 0.2);
      }
      &:hover{
       img{
        transition:all .3s;
        filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
       }
      }
    }
  }
}
