.filter-members {
  padding: 62px 0 350px 0;
  position: relative;
  overflow: hidden;

  .intro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--egp-dark);
    margin-bottom: 46px;
  }

  ul {
    padding-left: 1rem;
    padding-right: 10px;
    list-style: url('../../Icons/member-arrow.svg');

    li {
      margin-bottom: 16px;

      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        color: #57B45F;
      }
    }
  }

  .col-5 {
    z-index: 1;
  }

  .col-map {
    @media screen and (min-width: 992px) {
      position: absolute;
      top: -20%;
      left: 33%;
      overflow: hidden;
    }

    @media screen and (max-width: 1850px) {
      left: 31%;
    }

    @media screen and (max-width: 1800px) {
      left: 30%;
    }

    @media screen and (max-width: 1780px) {
      left: 29%;
    }

    @media screen and (max-width: 1780px) {
      left: 28%;
    }

    @media screen and (max-width: 1725px) {
      left: 27%;
    }

    @media screen and (max-width: 1700px) {
      left: unset;
      right: -6%;

      svg {
        width: 1200px;
      }
    }

    @media screen and (max-width: 1500px) {
      right: -8%;
    }

    @media screen and (max-width: 1475px) {
      right: -8%;

      svg {
        width: 1100px;
      }
    }

    @media screen and (max-width: 1375px) {
      right: -8%;

      svg {
        width: 1050px;
      }
    }

    @media screen and (max-width: 1300px) {
      right: -8%;

      svg {
        width: 1000px;
      }
    }

    @media screen and (max-width: 1230px) {
      right: -8%;

      svg {
        width: 950px;
      }
    }

    @media screen and (max-width: 1145px) {
      right: -8%;

      svg {
        width: 900px;
      }
    }

    @media screen and (max-width: 1080px) {
      right: -8%;

      svg {
        width: 850px;
      }
    }

    @media screen and (max-width: 1030px) {
      right: -8%;

      svg {
        width: 800px;
      }
    }
  }

  .desktop-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mobile-container,
  .mobile-items {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .filter-members {
    padding: 23px 0;
    position: relative;
    overflow: unset;

    .col-map {
      position: absolute;
      bottom: 0;
      right: -126px;
      top: -49px;

      svg {
        width: 850px;
        height: 450px;
      }
    }

    .desktop-items {
      display: none;
    }

    .mobile-container {
      display: block;

      h3 {
        color: var(--egp-black, #333);
        font-family: "Roboto";
        font-size: 13px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        margin-bottom: 0;
      }

      .mobile-items {
        display: block;
        width: 100%;
        height: 50px;
      }

      select {
        width: 100%;
        border-radius: 8px;
        border: 1px solid #D8D8D8;
        background: #F6F6F6;
        padding: 0 16px;
        color: var(--egp-black, #333);
        font-family: "Roboto";
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;

        option {
          width: 100%;
        }
      }
    }

    .intro {
      color: var(--egp-black, #333);
      font-family: "Roboto";
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 180px;
    }

    ul li a {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 830px) {
  .filter-members {
    .col-map {
      svg {
        width: 800px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .filter-members {
    .col-map {
      svg {
        width: 750px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .filter-members {
    .col-map {
      right: -100px;
      top: 0px;

      svg {
        width: 650px;
        height: 400px;
      }
    }
  }
}

@media screen and (max-width: 780px) {
  .filter-members {
    .intro {
      margin-bottom: 120px;
    }

    .col-map {
      svg {
        width: 600px;
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: 595px) {
  .filter-members {
    .intro {
      margin-bottom: 85px;
    }

    .col-map {
      svg {
        width: 550px;
        height: 300px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .filter-members {
    .intro {
      margin-bottom: 50px;
    }

    .col-map {
      svg {
        width: 500px;
        height: 250px;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .filter-members {
    .col-map {
      svg {
        width: 450px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 350px) {
  .filter-members {
    .col-map {
      svg {
        width: 400px;
        height: 180px;
      }
    }
  }
}