.filter-members {
  padding: 62px 0 243px 0;
  position: relative;

  .intro {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--egp-dark);
    margin-bottom: 46px;
  }

  ul {
    padding-left: 1rem;
    padding-right: 10px;
    list-style: url('../../Icons/member-arrow.svg');

    li {
      margin-bottom: 16px;

      a {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 130%;
        color: #57B45F;
      }
    }
  }

  .col-map {

    @media screen and (min-width: 1300px) {
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;

      &:after {
        content: "";
        position: absolute;
        width: 200px;
        transform: rotate(-5deg);
        top: -25px;
        right: -25px;
        z-index: 10;
        height: 500px;
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 70%);
      }
    }

    @media screen and (max-width: 1300px) {
      margin-top: 3rem;
      position: unset;

      svg {
        width: 100%;
      }
    }
  }
}