.text-hubspot-form {
  position: relative;
  overflow: hidden;
  padding: 51px 0 31px 0;

  h2 {
    font-family: 'Colby';
    font-style: normal;
    font-weight: 700;
    font-size: 2.188rem;
    line-height: 110%;
    text-transform: uppercase;
    color: var(--egp-white);
    margin-bottom: 1.875rem;
  }

  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 130%;
    color: var(--ct-white);
  }

  ul,
  ol {
    list-style: disc;
  }

  .flowers {
    position: absolute;
    width: 800px;
    position: absolute;
    right: 0;
    top: -120px;
  }

  .form-content {
    &.white-box {
      padding: 50px 69px;
      background-color: var(--ct-white);
      border-radius: 5px;

      h3 {
        font-family: 'Laca';
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        line-height: 120%;
        color: var(--egp-dark);
        margin-bottom: 25px;
      }

      p {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--ct-dark-blue);
        margin-bottom: 36px;
      }

      #hubspotForm {
        padding: 0 68px;
      }

      @media screen and (max-width: 768px) {
        padding: 30px;

        #hubspotForm {
          padding: 0;
        }
      }
    }
  }

  &.small {
    position: relative;
    padding: 0;

    .hubspot-form {
      z-index: 10;
    }

    h3 {
      z-index: 10;
      font-family: 'Laca';
      font-style: normal;
      font-weight: 600;
      font-size: 31px;
      line-height: 120%;
      color: var(--ct-white);

      @media screen and (max-width: 767px) {
        padding-top: 1.5rem;
      }
    }
  }

  &.one_column {
    padding: 140px 0 91px 0;

    h2,
    p {
      color: var(--ct-dark-blue);
    }
  }

  // Hubspot form styles
  fieldset {
    display: flex;
    flex-direction: column;

    div {
      width: 100% !important;
      margin-bottom: 10px;
    }

    ul {
      display: none;
    }

    label {
      display: none;
    }
  }

  .form-columns-2 {
    max-width: 100%;
  }

  .input {
    padding: 17px 20px 17px 10px;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 8px;
    width: 100%;

    input {
      width: 100%;
      padding: 0;
      margin: 0;
      border: none;
    }
  }

  .hs-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 15px 15px;
    background: #ffdc2e;
    border-radius: 10px;

    input {
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
      font-family: 'Jaldi';
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      color: #36845b;
    }
  }
}