.inner-layout {
  position: relative;
  background: linear-gradient(90deg, #eaf2ee 15%, rgba(255, 255, 255, 1) 15%);

  .first {
    background-color: #eaf2ee;
    border-right: 1px solid rgba(54, 132, 91, .2);
    padding-right: 40px;

    h3 {
      font-family: 'Jaldi';
      font-style: normal;
      font-weight: 800;
      font-size: 31px;
      line-height: 110%;
      color: #333333;
      margin-bottom: 39px;
    }
  }

  .first,
  .second {
    padding-top: 70px;
    padding-bottom: 200px;
  }

  .second {
    padding-left: 70px;
  }

  @media screen and (max-width:991px) {
    background: none;

    .first,
    .second {
      background: none;
      padding: 2em 0 5em 0;
    }
  }
}