.heroCongress {
  position: relative;
  z-index: 100;
  padding-bottom: 132px;
  height: 100%;
  padding-top: 160px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right bottom;

  &.secondaryPage {
    padding-bottom: 50px;
  }

  h1,
  h2 {
    font-family: 'Colby';
    font-style: normal;
    font-weight: 700;
    font-size: 69px;
    line-height: 100%;
    color: var(--egp-white);
    margin-bottom: 31px;
  }

  p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
    color: var(--egp-white);
    margin-bottom: 31px;
  }

  .backBtn {
    display: flex;
    align-items: center;
    margin-bottom: 79px;
    font-family: 'Jaldi';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;
    color: var(--egp-white);

    img {
      margin-right: 10px;
    }
  }

  .actionsContainer {
    display: flex;
    gap: 31px;
  }
}

.heroBgImage {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    object-fit: contain !important;
  }
}

@media screen and (max-width: 992px) {
  .heroCongress {
    padding-top:100px;
    background-image: none !important;
    padding-bottom:50px;
    &.secondaryPage {
      padding-bottom: 20px;
    }
    h1{
      font-size:40px;
    }
    h2{
      font-size:30px;
    }
    .backBtn{
      margin-bottom:40px;
    }
  }
}