.navbar {
  top: 0;
  min-height: 90px;
  width: 100%;
  z-index: 999;
  background: var(--ct-white);
  padding: 31.5px 41px 32.5px 41px;

  .nav-item .btn-primary {
    border-radius: 25px;
    padding: 9px 22px;
  }

  .show {
    .search-icon {
      path {
        fill: #fff;
      }
    }
  }

  .search-icon {
    cursor: pointer;
    path {
      fill: #1f1646;
    }
    @media (max-width: 992px) {
      padding-bottom: 30px;
      padding-top: 10px;
    }
  }

  .dropdown {
    &-button {
      background: transparent;
      border: none;
      text-transform: uppercase;
      font-weight: 800;
      color: var(--psa-navy);
    }

    &-menu {
      padding: 20px 20px;

      &.open {
        display: block;
      }
    }

    &-item {
      &:focus,
      &:hover {
        color: #1e2125;
        background-color: transparent;
      }

      &:not(:last-child) {
        padding-bottom: 18px;
      }
    }
  }

  &.home-nav {
    .search-icon {
      path {
        fill: white !important;
      }
    }

    background: transparent;
    position: absolute;

    #navNav ul li.nav-item {
      .dropdown-button {
        color: #fff;
      }

      a.nav-link {
        color: #fff;

        &.btn {
          background-color: transparent;
          color: #fff;
          border: 2px solid #fff;
        }
      }

      a.dropdown-button {
        color: #fff;
      }
    }
  }

  .collapse {
    @media (max-width: 991px) {
      background-color: var(--ct-white);
      li.nav-item {
        a.dropdown-button,
        a.nav-link {
          color: #ffff !important;
        }
      }
    }
  }

  &.sticky-nav {
    // transition: 0.2s ease-in-out;
    position: fixed;
    top: 0;
    height: 65px;
    background: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

    @media (max-width: 992px) {
      position: fixed;
    }

    .navbar-toggler {
      span,
      span:before,
      span:after {
        background-color: #001e61;
      }

      span.open-toggle,
      span.open-toggle:before,
      span.open-toggle:after {
        background-color: #ffff;
      }
    }

    .navbar-brand > img {
      width: 95%;
    }

    #navNav ul li.nav-item {
      a.nav-link {
        color: var(--psa-navy);

        &.btn {
          background-color: var(--psa-magenta);
          border-color: var(--psa-magenta);
        }
      }

      a.dropdown-button {
        color: var(--psa-navy);
      }
    }

    li > svg > path {
      fill: var(--psa-navy);
    }
  }

  #navNav {
    justify-content: flex-end;

    ul {
      align-items: center;

      li.nav-item {
        margin-right: 50px;

        a {
          font-family: 'Public Sans';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 150%;
          color: var(--ct-dark-blue);
        }

        a.btn {
          color: var(--ct-white);
        }

        a.nav-link {
          font-weight: 800;
          font-size: 16px;
          line-height: 22px;
          text-transform: uppercase;
          color: var(--psa-navy);

          &.btn {
            background-color: var(--psa-magenta);
            color: #fff;

            &:hover {
              background-color: #cf3339;
            }
          }

          &:hover {
            text-decoration: none;
          }

          &.current {
            color: var(--psa-magenta) !important;
          }
        }
      }

      [aria-current]:not([aria-current='false']) {
        color: var(--psa-magenta) !important;
      }
    }
  }
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

span.navbar-toggler-icon {
  height: 4px;
  background-color: #001e61;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #001e61;
    width: 1.5em;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
  &.open-toggle {
    background-color: #ffff;
    opacity: 1;
    top: 0px;
    height: 4px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);
    &:before {
      opacity: 0;
      right: -60px;
    }
    &:after {
      background-color: #ffff;
      content: '';
      opacity: 1;
      top: 0px;
      bottom: unset;
      height: 4px;
      -webkit-transform: rotate(-85deg);
      -moz-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
    }
  }
}

.home-nav {
  span.navbar-toggler-icon,
  span.navbar-toggler-icon:before,
  span.navbar-toggler-icon:after {
    background-color: #ffff;
  }
}

.navbar-collapse.show {
  padding-top: 1.5rem;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 5px 0;
    a.navbar-brand {
      padding-left: 15px;
    }
    button {
      padding-right: 15px;
    }
    .navbar-collapse {
      transition: 0.15s all ease-in-out;
    }
    &.expanded {
      background-color: var(--psa-navy);
      padding-bottom: 1rem;
      #navNav ul li.nav-item {
        margin-right: 0;
        margin-bottom: 1rem;
        // a.nav-link {
        //     color: var(--psa-navy);
        // }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    border-radius: 0px 4px 4px 4px;
    // box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar.expanded #navNav ul li.nav-item {
    text-align: center;
  }
  li.dropdown ul.dropdown-menu {
    background-color: transparent !important;
    border: none;
    text-align: center;
  }
}

.top-message-container + header {
  .navbar {
    position: absolute;
    top: 44px;
  }
}
